{% extends 'portal/base.html' %}

{% load static %}
{% load bootstrap %}
{% block title %}
    Align to a custom matrix or IUPAC string
{% endblock %}

{% block content_header %}
 Align to a custom matrix
{% endblock %}
      
{% block breadcrumb %}
  <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
  <li class="active">Align</li>
{% endblock %}

{% block content %}

    <div class="row">
            
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-sliders"> </i> Align to a custom matrix or IUPAC string</h3>

              </div>
            <!-- /.box-header -->
            <div class="box-body">
            <form action="/align" method="POST">
             {% csrf_token %}

             <div class="form-group">
                <label for="matrix" class="control-label">Please input a custom matrix or IUPAC string </label>
                <textarea class="form-control" name="matrix" id="id_matrix" rows="10" maxlength='2000' placeholder="Enter fasta-formatted sequence ..."
                        data-toggle="tooltip" data-placement="bottom" title="Please submit a fasta sequence less than 2000 nucleotides." 
                        data-validation="required custom" data-validation-regexp="^\s*[ACGTURYMKWSBDHVNacgturymkwsbdhvn\[\]0-9\t]{3,}\s*\n?"
                        data-validation-ignore=" "></textarea>
            </div>
            <div class="form-group">
              <label for="matrix_type" class="control-label">Input type: </label>
    
              <label class="radio-inline"><input type="radio" name="matrix_type" id="matrix_type_pfm" value="pfm" data-validation="required" checked>RAW PFM</label>
              <label class="radio-inline"><input type="radio" name="matrix_type" id="matrix_type_jaspar" value="jaspar" data-validation="required">JASPAR matrix</label>
              <label class="radio-inline"><input type="radio" name="matrix_type" id="matrix_type_iupac" value="iupac" data-validation="required">IUPAC</label>
            </div>

             {{ form|bootstrap }}
              
              <div class="form-group">
              <div class="box-footer clearfix">
              <button type="button" class="btn btn-success" value="A [13 13 3 1 54 1 1 1 0 3 2 5]
C [13 39 5 53 0 1 50 1 0 37 0 17]
G [17 2 37 0 0 52 3 0 53 8 37 12]
T [11 0 9 0 0 0 0 52 1 6 15 20]"
              name="align" id="align"><i class="fa fa-th"> Example matrix </i></button>
               <button type="reset" class="btn btn-warning" name="reset" id="reset"><i class="fa fa-trash-o"></i> Reset </button>
               <button type="submit" class="pull-right btn btn-primary" name="Align" id="Align">Align <i class="fa fa-arrow-circle-right"></i></button>
               </div>
              </div>

            </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

    </div>

    {% block javascript %}
     <script type="text/javascript">
      $('#align').click(
    function(){
        $('#id_matrix').val($(this).val());
        $("#matrix_type_jaspar").prop("checked", true);
          }
      );
    </script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

  <script>

  $.validate({
    modules : 'location, date, security, file',
    onModulesLoaded : function() {
      $('#country').suggestCountry();
    }
  });

  // Restrict presentation length
  $('#scan_sequence').restrictLength( $('#pres-max-length') );

</script>



  {% endblock %}


{% endblock %}