 {% load static %}
 <!-- To the right -->
  <footer class="main-footer">
    <div class="pull-left hidden-xs">
    <!--
        <strong>Copyright &copy; 2018 <a href="#">JASPAR</a>.</strong> All rights reserved. <br>
     -->
        <strong>JASPAR</strong> is an open-source database of transcription factor binding profiles. <br>
        You are using the latest version (<strong>2018</strong>) of JASPAR. <a href="/profile-versions">Profile versions</a> <br>
        Previous stable versions: <strong><a href="http://jaspar2016.genereg.net/"  target="_blank">2016 <i class="fa fa-external-link"></i></a> | <a href="http://jaspar2014.genereg.net/"  target="_blank">2014 <i class="fa fa-external-link"></i></a></strong>
    </div>

    <div align="right">
    	<a href="http://albinsandelin.wixsite.com/sandelinlab" target="_blank"><img src="{% static 'img/ku_logo.jpg' %}" alt="KU" height="50px"> </a> &nbsp;&nbsp;&nbsp;&nbsp;
    	<a href="http://cmmt.ubc.ca/wasserman-lab/" target="_blank"><img src="{% static 'img/cmmt_ubc.jpg' %}" alt="CMMT" height="50px"></a> &nbsp;&nbsp;&nbsp;&nbsp;
    	<a href="https://lms.mrc.ac.uk/research-group/computational-regulatory-genomics/" target="_blank"><img src="{% static 'img/mrc_logo.jpg' %}" alt="MRC" height="50px"></a> &nbsp;&nbsp;&nbsp;&nbsp;
    	<a href="https://mathelierlab.com/" target="_blank"><img src="{% static 'img/ncmm.png' %}" alt="NCMM" height="50px"></a>
    </div>

</footer>