{% extends 'portal/base.html' %}
{% load static %}

{% block title %}
    {% if request.view == 'versions' %} Profile versions {% else %} Search profile(s){% endif %}
{% endblock %}

{% block content_header %}
 {% if request.view == 'versions' %} Profile versions {% else %} Search profile(s){% endif %}
{% endblock %}
      
{% block breadcrumb %}
  <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
  <li class="active">search</li>
{% endblock %}

{% block content %}

  <div class="row">
  {% include "portal/quick_search.html" %}

  </div>
  <div class="row">
  
    <div class="col-xs-12 col-md-9 col-xl-9">
          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title"> <b>{{ pages.paginator.count }} </b> {% if request.view == 'versions' %} version(s) {% else %} profile(s) {% endif %}  found</h3>

            </div>
            
            <!-- /.box-header -->
            <div class="box-body">

            <div class="box-tools pull-left">
              <form action="{{ request.get_full_path }}" method="GET" id="page_size_form" class="form-inline">
                Display 
                <select name="page_size" id="page_size" class="form-control">
                  <option value="10" {% if request.GET.page_size == '10' %} selected{% endif %}>10</option>
                  <option value="25" {% if request.GET.page_size == '25' %} selected{% endif %}>25</option>
                  <option value="50" {% if request.GET.page_size == '50' %} selected{% endif %}>50</option>
                  <option value="100" {% if request.GET.page_size == '100' %} selected{% endif %}>100</option>
                  <option value="250" {% if request.GET.page_size == '250' %} selected{% endif %}>250</option>
                  <option value="500" {% if request.GET.page_size == '500' %} selected{% endif %}>500</option>
                  <option value="1000" {% if request.GET.page_size == '1000' %} selected{% endif %}>1000</option>
                </select>   profiles

                {% for key, value in request.GET.items %}
                 {% if key != 'page_size' %}
                    <input type="hidden" name="{{ key }}" value="{{ value }}">
                  {% endif %}
                {% endfor %}

              </form>
              </div>

              <form action="/analysis" method="POST" id="analysis_form">
              {% csrf_token %}

              {% if request.view == 'versions' %}
                <input type="hidden" name="profile_data" value="True">
              {% endif %}

            {% if request.GET.cart == '1' %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="icon fa fa-cart-plus"></i> {{ request.session.message }}
            </div> 
            {% endif %}

            {% if matrices|length == 0 or matrices == None %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="icon fa fa-info"></i> Please use the above search box to find profile(s) you are interested in.
            </div> 
            {% endif %}

              <table id="search_table" class="table table-responsive table-bordered table-hover" width="100%">
                <thead>
                <tr>
                <th><input data-toggle="tooltip" data-placement="bottom" title="Select all profiles" type="checkbox" class="flat-red" name="selectAll" id="check-all" /></th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Species</th>
                  <th>Class</th>
                  <th>Family</th>
                  <th>Logo</th>
                  
                </tr>
                </thead>
                <tbody>
                {% for matrix in matrices %}
                  <tr>
                   <td><input type="checkbox" name="matrix_id" value="{{ matrix.id }}" 
                  data-validation="checkbox_group" class="flat-red" data-validation-qty="min1"></td>
                  
                  <td {% if matrix.id %}id='profile_summary' {% endif %}><b><a href="/matrix/{{ matrix.base_id }}.{{ matrix.version }}">{{ matrix.base_id }}.{{ matrix.version }}</a></b></td>
                  <td>{{ matrix.name }}</td>
                  <td>
                  {% for val in matrix.species %}                    
                                        
                    <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id={{ val.0 }}"
                     target="_blank"> 
                     {{ val.1 }}
                    </a> <br>

                  {% endfor %}
                  </td>
                  <td>{{ matrix.class|join:"::" }} </td>
                  <td>{{ matrix.family|join:"::" }} </td>
                  <td>
                  <a href="/matrix/{{ matrix.base_id }}.{{ matrix.version }}">
                  <img class="zoom" src="{% static 'logos/svg/' %}{{ matrix.base_id }}.{{ matrix.version }}.svg" width="150px" height="50px" title="Click to view details"></a>
                  </td>
                 
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                
                </tfoot>
              </table> 

               <span class="pull-left"> Showing <b>{{ matrices|length }} </b> profiles of page  <b>{{ pages.number }}</b> from  <b>{{ pages.paginator.num_pages }}</b> pages
              </span>

               <ul class="pagination pull-right">

                {% if pages.has_previous %}
                      <li><a href="?page={{ pages.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</a></li>
                  {% else %}
                      <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
                  {% endif %}

                  {% if pages.number|add:'-4' > 1 %}
                      <li><a href="?page={{ pages.number|add:'-5' }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&hellip;</a></li>
                  {% endif %}

                  {% for i in pages.paginator.page_range %}
                      {% if pages.number == i %}
                          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% elif i > pages.number|add:'-5' and i < pages.number|add:'5' %}
                          <li><a href="?page={{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a></li>
                      {% endif %}
                  {% endfor %}

                  {% if pages.paginator.num_pages > pages.number|add:'4' %}
                      <li><a href="?page={{ pages.number|add:'5' }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&hellip;</a></li>
                  {% endif %}

                  {% if pages.has_next %}
                      <li><a href="&page={{ pages.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                  {% else %}
                      <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
                  {% endif %}
                </ul>           
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

         <!-- /.box -->
      </div>

      <div class="col-xs-12 col-md-3 col-xl-3">
         {% include "portal/analysis_modules.html" %}
      </div>
    </form>
            
  </div>

  {% block javascript %}

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

  <script>
  
  // Restrict presentation length
  $('#scan_sequence').restrictLength( $('#pres-max-length') );

</script>

<script type="text/javascript">
      $('#fill').click(
    function(){
        $('#scan_sequence').val($(this).val());
          }
      );

      $("#page_size").change(function() {
        $("#page_size_form").submit();
      });
  </script>


<script type="text/javascript">
      $('#scan_button').click(
    function(){
        if ($('#scan_sequence').val().charAt(0) != ">"){

           //alert("Input sequence is not FASTA-formatted!");
           $('#fasta_format_model').modal('show');

          }
        }
      );
  </script>

  <div id="fasta_format_model" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Input sequence is not FASTA-formatted</h4>
      </div>
      <div class="modal-body">
        <p>Your input sequence is not FASTA-formatted to scan with selected matrix models. <br><br>
          Read more about <a href="https://en.wikipedia.org/wiki/FASTA_format" target="_blank">fasta-formatted</a>. Or you can click and load the example sequence.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

 
   <script>
  
        var tour = {
          id: 'jaspar-home',
          showPrevButton: true,
          scrollDuration: 700,
          steps: [
            
            {
              title: 'Browse JASPAR CORE',
              content: 'Browse JASPAR <strong>CORE</strong> database for different taxon groups',
              target: 'jaspar-core',
              placement: 'top',
            },
            {
              title: 'Search JASPAR database',
              content: "You can search by TF name or ID, species, taxon, UniProt ID or any other keyword.",
              target: 'search',
              placement: 'bottom',
            },
            
            {
              title: 'Search results table',
              content: 'A list of profiles found for your search criteria.',
              target: 'search_table',
              placement: 'top',
              xOffset: "center",
              arrowOffset: "left",
              onNext: function() {

                $('#check-all').iCheck('check');
                //$('#analysis_form').submit();
                //$( "#cart_submit" ).trigger( "click" );
                //$('form:#cart_submit').submit();
                
              }
            },
             {
              title: 'Add to cart',
              content: 'Select profiles and add to cart to perform analysis or to download.',
              target: 'cart',
              placement: 'left',
              arrowOffset: "right",
              //multipage: true,
              onNext: function() {

                //$( "#cart_submit" ).trigger( "click" );                
              }
            },
            {
              title: 'Perform analysis',
              content: 'Use the selected profiles to perform analysis or download right away.',
              target: 'randomize_outer',
              placement: 'left',
              arrowOffset: "right",
              
            },
      
            {
              title: "View profile summary and versions",
              content: "View a detailed profile summary and versions page.",
              target: "profile_summary",
              placement: "bottom",
              multipage: true,
              onNext: function() {
                window.location = '/matrix/MA0037.2';
              }
            },
             {
              title: "TFFM and more details",
              content: "ChIP-seq centrality, detailed and first order TFFM, and more info.",
              target: "more-details",
              placement: "top",
              xOffset: "center",
              arrowOffset: "center",
             
            },
            {
              title: "Thanks!",
              content: "Thanks for taking the JASPAR tour. You can read more about JASPAR <a href='/about'>here</a>.",
              target: "demo-end",
              placement: "bottom",
              xOffset: "center",
              arrowOffset: "center"
            }
          ]
        }
       if(hopscotch.getState() === "jaspar-home:2") {
        hopscotch.startTour(tour, 2);
       }else{
        //hopscotch.startTour(tour, 0);
       }

    </script>

  {% endblock %}

  {% block datatable %}
    <script>
      $(function () {
        $('#search_table').DataTable({
          "paging": false,
          "lengthChange": false,
          "searching": true,
         // "ordering": true,
          "info": false,
          "autoWidth": true,
          "bProcessing": true,
          "bScrollInfinite": true,
          "fixedHeader": false,
          "bLengthChange": false,

          //'select': {
           //     style:    'multi+shift',
               // selector: ':first-child'
           // },
           
          //"lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
          "searchHighlight": true,
          "order": [[ 1, "asc" ]],
          "responsive": true,               
          //"sScrollY": "100%",
         
          "aoColumnDefs": [
             { "bSortable": false,
              "aTargets": [0,6] }
                          ],

          "oLanguage": {
                         "sSearch": "Filter:",
                         "sLengthMenu": "Display _MENU_ profiles",
                       },
          'dom': 'lfrtipB',
            'buttons': [
            'copy', 'csv'
               ],
          });
        });
      </script>
    {% endblock %}
  
{% endblock %}